<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div id="header" class="container-fluid">
    <a class="navbar-brand" href="{{ site.url }}">LongLy.Info</a>
    <button
      id="menuCollapsed"
      class="btn btn-outline-dark navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu"
      aria-controls="navbarMenu"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="bi bi-list"></i>
    </button>

    <div id="navbarMenu" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        {% assign homeItems = site.data.navigation | where: 'section', 'Home' %}
        {% for item in homeItems %}
          <li
            {% if page.url == item.link %}
              class="nav-item active"
            {% else %}
              class="nav-item"
            {% endif %}
          >
            <a class="nav-link" href="{{ site.url }}{{ item.link }}">
              {{ item.name }}
            </a>
          </li>
        {% endfor %}

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Apps</a
          >
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% assign apps = site.apps | sort: 'index' %}
            {% for app in apps %}
              <a
                class="dropdown-item"
                {% if app.link %}
                  href="{{ app.link }}" target="_blank"
                {% else %}
                  href="{{ app.url }}"
                {% endif %}
              >
                {{ app.name }}
              </a>

              {% if app.break %}
                <div class="dropdown-divider"></div>
              {% endif %}
            {% endfor %}
          </div>
        </li>

        {% assign otherItems = site.data.navigation | where: 'section', 'Others' %}
        {% for item in otherItems %}
          <li
            {% if page.url == item.link %}
              class="nav-item active"
            {% else %}
              class="nav-item"
            {% endif %}
          >
            <a class="nav-link" href="{{ site.url }}{{ item.link }}">
              {{ item.name }}
            </a>
          </li>
        {% endfor %}
      </ul>

      <button id="download" class="btn btn-outline-dark me-2" type="button">Download</button>
      <button id="nightMode" class="btn btn-outline-dark btn-sq-xs" type="button" data-placement="bottom">
        <i class="bi bi-moon-fill"></i>
      </button>
    </div>
  </div>
</nav>
