<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Title -->
  {% if page.collection == "apps" %}
    {% assign title = page.name | append: " | QA Tips" %}
  {% else %}
    {% assign title = page.title %}
  {% endif %}
  <title>{{ title }}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/tool.css">

  <!-- Custom CSS -->
  {% if page.css %}
    {% for css_file in page.css %}
      <link rel="stylesheet" href="{{ site.url }}/assets/css/{{ css_file }}.css" type="text/css">
    {% endfor %}
  {% endif %}

  <!-- JS -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}/assets/js/main.js"></script>
  <script type="text/javascript" src="{{ site.url }}/assets/js/tool.js"></script>

  <!-- Custom JS -->
  {% if page.js %}
    {% for js_file in page.js %}
      <script type="text/javascript" src="{{ site.url }}/assets/js/{{ js_file }}.js"></script>
    {% endfor %}
  {% endif %}

  <!-- Custom Modules JS -->
  {% if page.module %}
    {% for modul in page.module %}
      <script type="module" src="{{ site.url }}/assets/js/module/{{ modul }}.js"></script>
    {% endfor %}
  {% endif %}

  <!-- Jekyll Plugins -->
  {% feed_meta %}
  {% seo %}

  {% if jekyll.environment == "production" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-X9N4MPMD8W"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-X9N4MPMD8W');
    </script>
  {% endif %}
</head>
